language: node_js
node_js:
  - 10
addons:
  apt:
    packages:
      - libgconf-2-4
cache:
  npm: true
  directories:
    - ~/.cache
before_script:
  - yarn check:lint
script:
  - npm run build
  - npm start &
  - npm run start:test-server &
  - npm run e2e:ci
  - kill $(jobs -p) || true
