.box {
  border-radius: 5px;
  border: 3px solid #dddddd;
  background-color: #ffffff;
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
}

.box-title {
  height: 10px;
  width: 100px;
  background-color: #dddddd;
}
