.navbar {
  height: 30px;
  border-bottom: 1px solid #dddddd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  align-items: center;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  align-items: center;
}

.navbar-item {
  height: 10px;
  width: 100px;
  background-color: #dddddd;
}

.navbar-left .navbar-item {
  margin-left: 10px;
}

.navbar-right .navbar-item {
  margin-right: 10px;
}
