.profile {
  border-radius: 5px;
  border: 3px solid #dddddd;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 50px;
  background-color: #ffffff;
}

.profile-banner {
  height: 40px;
  background-color: #dddddd;
  display: flex;
}

.profile-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-top: -22px;
  border: 3px solid #ffffff;
  background-color: #dddddd;
}
